* {
  margin: 0;
  padding: 0;
  font-family: DM Sans, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
#header {
  padding: 20px 0;
}
.header {
  border-bottom: 1px solid gray;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .ion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      h4 {
        font-size: 30px;
      }
    }
    .nav {
      display: flex;
      gap: 30px;
      a {
        color: gray;
        font-size: 12px;
      }
    }
    .search {
      display: flex;
      gap: 20px;
      input {
        padding: 15px 135px;
        border-radius: 10px;
        border: 1px solid gray;
      }
      button {
        padding: 15px 55px;
        border-radius: 10px;
        background: #3772ff;
        border: 1px solid #447af7;
        color: white;
      }
    }
  }
}

.art {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  .art-t {
    width: 600px;
    padding: 80px 0 0 0;

    h6 {
      color: gray;
      font-size: 12px;
    }
    h1 {
      color: black;
      font-size: 50px;
      font-weight: 600;
      line-height: 70px;
    }
    button {
      background: #3772ff;
      color: white;
      width: 150px;
      height: 50px;
      border-radius: 7px;
      border: none;
      margin: 30px 0;
    }
    .k {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .l {
        font-weight: 600;
        a {
          color: gray;
          font-size: 16px;
        }
      }
    }
  }

  .art-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;

    .a {
      width: 570px;
      position: absolute;
      z-index: 1;
      top: 130px;
      right: 5px;
    }
    .r {
      width: 430px;
      position: absolute;
      z-index: 2;
      right: 70px;
      top: 130px;
    }
    .t {
      width: 50px;
      position: absolute;
      z-index: 3;
      top: 400px;
      right: 480px;
    }
  }
}

#latest {
  margin: 220px 0 0 0;
}

.latest {
  display: flex;
  align-items: center;
  gap: 50px;
  img {
    width: 260px;
  }
  .lat-text {
    h2 {
      font-size: 35px;
      font-weight: 600;
      line-height: 30px;
      line-height: 40px;
    }
    button {
      background: #3772ff;
      color: white;
      width: 120px;
      height: 40px;
      border: none;
      border-radius: 7px;
      margin: 20px 0;
    }
  }
}

#seller {
  margin: 150px 0 0 0;
}
.seller {
  .be {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date-select {
      width: 320px;
      height: 40px;
      border-radius: 10px;
      border: 2px solid #e5e4e4;
      font-size: 18px;
    }
  }
  .scrol {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin: 90px 0 0 0;

    .re {
      font-size: 40px;
      font-weight: 400;
      color: gray;
    }
    .re:hover {
      color: blue;
    }
    .scrul {
      background: #f3f4f5;
      width: 270px;
      height: 262px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .men {
        border-radius: 50%;
        border: solid 3px #3772ff;
        margin: -40px 0 20px 0;
      }
      .io {
        margin: 20px;
        display: flex;
        gap: 20px;
      }
      h1 {
        width: 200px;
        border-bottom: 1px solid gray;
        padding: 10px 0;
      }
      button {
        background: #9757d7;
        color: white;
        width: 80px;
        height: 40px;
        border: none;
        border-radius: 7px;
        margin: 10px 0;
      }
    }
  }
}

.ionka {
  .ty {
    font-size: 40px;
    color: gray;
  }
  .ti {
    font-size: 40px;
    color: #447af7;
  }
}

#explo {
  margin: 150px 0 0 0;
}
.explo {
  .be {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date-select {
      width: 320px;
      height: 40px;
      border-radius: 10px;
      border: 2px solid #e5e4e4;
      font-size: 18px;
    }
  }
  .scroll {
    display: flex;
    justify-content: space-between;

    align-items: center;
    flex-wrap: wrap;
    margin: 90px 0 0 0;

    .ret {
      font-size: 40px;
      font-weight: 400;
      color: gray;
    }
    .ret:hover {
      color: blue;
    }
    .scrull {
      background: #f3f4f5;
      width: 270px;
      height: 262px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .et {
        .j {
          display: flex;
          align-items: center;
          gap: 10px;
          .rt {
            background: white;
            color: #45b26b;
            width: 60px;
            height: 25px;
            border: 1px solid #45b26b;
            border-radius: 7px;
            margin: 10px 0;
            font-size: 10px;
          }
        }
        .po {
          display: flex;
          align-items: center;
          gap: 30px;
          button {
            color: #3772ff;
            background: #3772ff33;
            width: 50px;
            height: 25px;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
  }
}

#guide {
  background: #f6f7f8;
  margin: 200px 0 0 0;
  padding: 50px 0;
  .guide {
    .be {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 40px 0;
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid#CCCCCC;
        border-radius: 7px;
        .ti {
          font-size: 30px;
          color: #447af7;
        }
      }
    }
    .be-text {
      background: white;
      padding: 50px 0;
      border-radius: 20px;

      h2 {
        margin: 20px 0 20px 160px;
        ion-icon {
          background: #3772ff;
          border-radius: 50%;
          color: white;
        }
      }
      .ran {
        display: flex;
        align-items: center;
        gap: 150px;
        margin-left: 50px;
        .b-t {
          display: flex;
          flex-direction: column;
          input {
            margin: 10px;
          }
        }
        .bb {
          width: 901px;

          p {
            color: #888888;
            font-size: 16px;
            line-height: 30px;
          }
          ul {
            li {
              font-size: 16px;
              color: #888888;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}

#explol {
  margin: 150px 0 0 0;
}
.explol {
  .bee {
    .ionka {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nava {
        display: flex;
        gap: 10px;
        button {
          color: #888888;
          border: 1px solid #888888;
          border-radius: 5px;
          width: 70px;
          height: 30px;
          background: white;
          transition: 1s;
        }
        button:hover {
          background: #3772ff;
          color: white;
        }
      }
      .big-nava {
        display: flex;
        gap: 20px;
        .w {
          width: 120px;
          height: 50px;
          font-size: 16px;
          border-radius: 8px;
          color: white;
          background: #3772ff;
          transition: 1s;
          border: none;
        }
        .w:hover {
          color: #3772ff;
          background: white;
        }
        .x {
          width: 120px;
          height: 50px;
          font-size: 16px;
          border-radius: 8px;
          color: white;
          background: #9757d7;
          transition: 1s;
          border: none;
        }
        .x:hover {
          color: #9757d7;
          background: white;
        }
      }
    }
  }
  .scrolle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0 0 0;

    .ret {
      font-size: 40px;
      font-weight: 400;
      color: gray;
    }
    .ret:hover {
      color: blue;
    }
    .scrulle {
      background: #f3f4f5;
      width: 270px;
      height: 262px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 120px 0;

      .et {
        .j {
          display: flex;
          align-items: center;
          gap: 10px;
          .rt {
            background: white;
            color: #45b26b;
            width: 60px;
            height: 25px;
            border: 1px solid #45b26b;
            border-radius: 7px;
            margin: 10px 0;
            font-size: 10px;
          }
        }
        .po {
          display: flex;
          align-items: center;
          gap: 30px;
          button {
            color: #3772ff;
            background: #3772ff33;
            width: 50px;
            height: 25px;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
  }
}

#colect {
  margin: 100px 0;
}
.colect {
  h1 {
    margin: 20px 0;
  }
  .fd {
    display: flex;
    justify-content: space-between;
    .im {
      .pi {
        display: flex;
        gap: 10px;
        img {
          border-radius: 10px;
        }
        .img3 {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .textt {
        h2 {
          margin: 5px;
        }
        .mn {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            font-size: 12px;
            span {
              color: gray;
            }
          }
        }
      }
    }
  }
}

#crypto {
  background: #f6f7f8;
  height: 500px;
  .crypto {
    img {
      position: absolute;
      z-index: 1;
    }
    .cry {
      display: flex;
      align-items: center;
      gap: 80px;
      margin: 70px 0 5px 70px;
      position: absolute;
      z-index: 2;
      h4 {
        font-size: 14px;
        color: white;
        font-weight: 600;
      }
      h1 {
        font-size: 40px;
        color: white;
        line-height: 65px;
      }
      .btn {
        display: flex;
        gap: 40px;
        button {
          background: #3772ff;
          color: white;
          width: 160px;
          height: 50px;
          border-radius: 7px;
          border: none;
        }
      }
    }
  }
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .lolo {
    width: 270px;
    .ioni {
      display: flex;
      align-items: center;

      gap: 5px;
      h4 {
        font-size: 30px;
      }
    }
    p {
      color: #888888;
      line-height: 25px;
      font-size: 16px;
      font-weight: 200;
    }
    .ioio {
      margin: 10px 0;

      ion-icon {
        color: gray;
        transition: 1s;
        font-size: 30px;
        border: 1px solid gray;
        border-radius: 50%;
      }
      ion-icon:hover {
        color: #3772ff;
        border: 1px solid #3772ff;
      }
    }
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid#CCCCCC;
      border-radius: 7px;
      .ti {
        font-size: 30px;
        color: #447af7;
      }
    }
  }
}
 